body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#aspectsContainer .aspect {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-template-rows: auto auto;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

#aspectsContainer .aspect.selected {
    background-color: #9bd7b785;
}

.aspect-title {
    grid-column: span 3;
    font-weight: bold;
    margin-bottom: 5px;
}

.dropdown,
.slider,
.radio {
    grid-column: 1 / 2;
    align-self: center;
}

.points {
    grid-column: 2 / 3;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.points input[type="text"] {
    width: 2em;
    font-size: 1em;
    text-align: center;
    margin-right: 10px;
}

.points button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: none;
}

.points button:hover {
    background-color: #0056b3;
}

#result {
    width: 400px;
    margin-left: auto;
    position:sticky;
    top: 20px;
}

#result h2 {
    text-align: center;
    color: gray;
    font-size: 24px;
    margin-top: 20px;
}


